<style>
    #article-new #article-header .vod_container{
        background: rgba(0, 0, 0, .2) !important;
        opacity: 1 !important;
    }
</style>
<form id="article-form" action="<%= articles_path %>" method="post" enctype="multipart/form-data">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button type="submit" id="article-form-submit" value="" class="zmdi zmdi-floppy"></button>

    <section id="article-new">
        <div id="article-header">
            <div class="cover_bg"></div>
            <div class="title_box">
                <h1 class="">
                    <div>
                        <input id="article-input-title" name="article[title]" class="main_title" placeholder="제목을 입력해주세요">
                        <span class="sub_title">/ </span><input id="article-input-subtitle" name="article[subtitle]" class="sub_title" placeholder="부제를 입력해주세요">
                    </div>
                </h1>
            </div>
            <div class="article_header_widget">
                <ul>
                    <li>
                        <div class="widget_btn">
                            <label class="t-family1" for="article-input-magazine">매거진</label>
                            <select class="article_input" name="article[magazine_id]" id="article-input-magazine">
                                <option value="0"> -- 매거진을 선택해주세요 -- </option>
                                <% Magazine.all.each do |magazine| %>
                                    <option value="<%= magazine.id %>"><%= magazine.title %></option>
                                <% end %>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="widget_btn">
                            <label for="article-input-bg_vod" class="t-family1">배경 vod</label>
                            <input type="file" class="article_input" name="article[header_vod]" id="article-input-bg_vod">
                        </div>
                    </li>
                    <li>
                        <div class="widget_btn">
                            <label for="article-input-thumb_img" class="t-family1">썸네일 img</label>
                            <input type="file" class="article_input" name="article[header_img]" id="article-input-thumb_img">
                        </div>
                    </li>
                    <li>
                        <div class="widget_btn">
                            <label for="#" class="t-family1">예약 할까요?</label>
                            <div class="article_input" id="article-input-publish_book">
                                <input type="radio" name="article-input-publish_book" id="article-input-publish_book-on"> <label for="article-input-publish_book-on">예</label>
                                <input checked type="radio" name="article-input-publish_book" id="article-input-publish_book-off"> <label for="article-input-publish_book-off">아니오</label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="vod_container full_vod p-fixed">
                <video id="vod_1" class="full_vod autoPlay" loop="" autoplay="" preload="true" poster="">
                    <source src="" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="article-section">
            <div class="container">
                <div class="row font-1">
                    <input class="section_title t-family1" name="section[title]" placeholder="문단의 제목 입니다" style="border: none;">

                    <textarea name="section[content]" class="section-textarea"></textarea>
                    <div class="html-editor-airmod note-air-editor note-editable panel-body article-section-textarea-content" contenteditable="true" id="note-editor-1">
                        <div><p>본문을 입력해주세요</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <span id="add-section" class="btn btn-default">섹션 추가하기</span>
</form>